.topicos {
    background: var(--cor-link);
    padding: 1.5em 1em;
}

.topicos__titulo {
    font-weight: 300;
    color: var(--cor-fundo2);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {
    background-color: var(--cor-texto-destaque);
    margin: 0.5em;
    padding: 1.5em 1em;
    border-radius: 10px;
}

.topicos__link {
    color: var(--cor-fundo2);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .topicos {
        padding: 2.5em 2em 2em 2em;
    }

    .topicos__titulo {
        font-size: 24px;
    }

    .topicos__link {
        font-size: 20px;
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 3em 30vw;
    }

    .topicos__titulo {
        font-size: 32px;
    }

    .topicos__item:hover {
        background: var(--cor-link);
        transition: 0.3s;
    }

    .topicos__link:hover {
        color: var(--cor-texto-destaque);
        transition: 0.2s;
    }
}

@media screen and (min-width: 1728px){
    .lista-rodape {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }
}